@(message: String)

@main {
  <div class="system-message">@message</div>
  <div class="content">

    @helper.form(action = routes.Application.login()) {
      <input type="text" name="username"/>
      <input type="submit" value="Next"/>
    }

    Testing for XMS
  </div>
}
